@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  font-family: "Pretendard", sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

div#root {
  font-family: "Pretendard", sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
